# Порт внутри контейнера
PORT=3000

# Интервал опроса инстансов (секунды)
REFRESH_INTERVAL_SEC=120

# Таймаут одного запроса к инстансу (мс)
REQUEST_TIMEOUT_MS=10000

# NODE_ENV: development | production
NODE_ENV=production
